<script src="/endpoint/endpoint-intern/src/assets/js/layers.js"></script>
<script src="/endpoint/endpoint-intern/src/assets/js/drop.js"></script>

<!-- Navbar -->
<nav class="navbar">
  <div class="max-width">
    <div class="logo"><a href="https://www.elyadata.com/#about-us">ELYADATA</a></div>
  </div>
</nav>

<!-- Header Part -->
<div id="large-header" class="large-header">
  <canvas id="demo-canvas"></canvas>
  <h1 class="main-title">Images <span class="thin">Classification </span></h1>
</div>


<!-- Section Main page -->
<section id="section03" class="demo">
  <a href="#upload"><span></span></a>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<!-- Section Dropezone -->

<div class="container" id="upload" script="endpoint/endpoint-intern/src/assets/js/drop.js">
  <h3>Upload your File :</h3>
  <div class="drag-area">
    <div class="icon">
      <i class="fas fa-images"></i>
    </div>

    <span class="header">Drag & Drop</span>
    <span class="header">or <span class="button">browse</span></span>
    <input type="file" hidden />
    <span class="support">Supports: JPEG, JPG, PNG</span>
  </div>
</div>
<!-- Predction button-->
<br>
<br>
<button type="button" class="btn btn-success" style="width: 10%; margin-left: 850px; padding: 1%;">Predict</button>
<br>
<br>
<br>
<br>
<br>

<footer class="bg-dark text-center text-white">
  <!-- Copyright -->

  <div class="text-center ">
    © 2022
    <a class="text-white" href="https://www.linkedin.com/in/soufien-labiadh/">SouFien Labiadh <br>
      <p class="text-white">Graduation Project </p>
    </a>

  </div>
  <!-- Copyright -->
</footer>