<script src="/endpoint/endpoint-intern/src/assets/home.js"></script>

<!-- Navbar -->
<nav class="navbar">
  <div class="max-width">
    <div class="logo"><a href="https://www.elyadata.com/#about-us">ELYA<span class="thin">DATA</span></a></div>
  </div>
</nav>

<!-- Header Part -->
<div id="large-header" class="large-header">
  <canvas id="demo-canvas"></canvas>
  <h1 class="main-title">Images <span class="thin">Classification </span></h1>
</div>


<!-- Section Main page -->
<section id="section03" class="demo">
  <a href="#upload"><span></span></a>
</section>

<!-- Section Dropezone -->